h1 {
  text-align: center;
  color: orange;
  text-shadow: 2px 2px black;
}
button {
  display: block;
margin: 0 auto;
}
img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
h2 {
  text-align: center;
  color: orange;
  text-shadow: 2px 2px black;
}
ul {
    text-align: center;
    list-style-position: inside;
}
p {
  text-align: center;
  color: white;
}
div {
  text-align: center;
}
body {
  background-color:#54626F;
}
.signPetition{
  text-align: center;
}
#userName{
  width: 500px;
  height: 30px;


}
#userEmail{
  width: 500px;
  height: 30px;


}
#userComment{
  width: 500px;
  height: 100px;

}
